
<br>
  <div class="editarUsuario">
    <form [formGroup]="form!">

      <p-fieldset legend="DADOS PESSOAIS">

        <mat-form-field class="full-width">

          <input matInput placeholder="NOME COMPLETO" formControlName="nomeCompleto">

        </mat-form-field>
<br>


        <mat-form-field class="full-width">

          <input matInput placeholder="E-MAIL" formControlName="email">

        </mat-form-field>


    </p-fieldset>

      <br>
      <p-fieldset legend="DADOS LOGIN">

        <mat-form-field class="full-width">

          <input matInput placeholder="NOME LOGIN" formControlName="nomeLogin">

        </mat-form-field>

        <br>

        <form>
          <p-radioButton  name="situacao" [value]="ativoLabel" [ngModel]="situacao" ></p-radioButton>
        <label for="true" class="ml-2">Ativo</label>
        &nbsp;
        <p-radioButton name="situacao" [value]="inativoLabel" [ngModel]="situacao" ></p-radioButton>
        <label for="false" class="ml-2">Inativo</label>
        </form>

      </p-fieldset>

      <br>

      <mat-card-actions>

        <button [disabled]="!form.valid"  mat-raised-button color="primary" type="submit" (click)="onSubmit()">Atualizar</button> &nbsp;

        <button  mat-raised-button (click)="onCancel()">Cancelar</button>

      </mat-card-actions>

    </form>


  </div>










      <div>
        <router-outlet></router-outlet>
      </div>

      <!-- ADICIOANR OPÇÕES SELECIONAVES


      <mat-label>Senha</mat-label>
      <mat-select formControlName="senha">
        <mat-option value="null"></mat-option>
        <mat-option value="Front-end">Front-end</mat-option>
        <mat-option value="Back-end">Backe-end</mat-option>
      </mat-select>
      -->
