
  <br>
<div class="tabelaCadastro">
  <form [formGroup]="form">

    <p-fieldset legend="DADOS PESSOAIS">

      <mat-form-field class="full-width">

        <input matInput placeholder="NOME COMPLETO" formControlName="nomeCompleto">

      </mat-form-field>

      <br>

      <mat-form-field class="full-width">

        <input matInput placeholder="E-MAIL" formControlName="email">

      </mat-form-field>

  </p-fieldset>
  <br>

  <p-fieldset legend="DADOS LOGIN">

    <mat-form-field class="full-width">

      <input matInput placeholder="NOME LOGIN" formControlName="nomeLogin">

    </mat-form-field>

    <br>

    <mat-form-field class="full-width">

      <input matInput minlength="4" maxlength="8" type="password" placeholder="SENHA" formControlName="senha">

    </mat-form-field>

  </p-fieldset>


<mat-card-actions>

  <button [disabled]="!form.valid"  mat-raised-button color="primary" type="submit" (click)="onSubmit()">Salvar</button> &nbsp;

  <button  mat-raised-button (click)="onCancel()">Cancelar</button>

</mat-card-actions>

  </form>

</div>




      <!-- ADICIOANR OPÇÕES SELECIONAVES


      <mat-label>Senha</mat-label>
      <mat-select formControlName="senha">
        <mat-option value="null"></mat-option>
        <mat-option value="Front-end">Front-end</mat-option>
        <mat-option value="Back-end">Backe-end</mat-option>
      </mat-select>
      -->

      <router-outlet></router-outlet>
