<div>
  <div>
    <app-header></app-header>
  </div>
 <br>
 <br>
 <br>
 <br>
 <p>
  
 </p>

  <div>

<p-card class="tabelaCadastro" header="" [style]="{ width: '60%'}">


  <form [formGroup]="form">

    <p-fieldset legend="DADOS PESSOAIS">

      <mat-form-field class="full-width">

        <input matInput placeholder="NOME COMPLETO" formControlName="nome_completo">

      </mat-form-field>


      &nbsp;

      <mat-form-field class="full-width">

        <input matInput  placeholder="CPF" formControlName="cpf">

      </mat-form-field>

      &nbsp;

      <mat-form-field class="full-width">

        <input matInput placeholder="E-MAIL" formControlName="email">

      </mat-form-field>

      &nbsp;


  </p-fieldset>

  <br>

  <mat-divider></mat-divider>

  <br>

  <p-fieldset legend="DADOS LOGIN">

    <mat-form-field class="full-width">

      <input matInput placeholder="NOME LOGIN" formControlName="login">

    </mat-form-field>

    &nbsp;

    <mat-form-field class="full-width">

      <input matInput minlength="4" maxlength="8" type="password" placeholder="SENHA" formControlName="senha">

    </mat-form-field>

  </p-fieldset>

  <br>

  </form>

<ng-template pTemplate="footer">
  <p-button [disabled]="!form.valid" label="Save" icon="pi pi-check" (Click)="onSubmit()"></p-button>
  <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" (onClick)="onCancel()" [style]="{ 'margin-left': '.5em' }"></p-button>
</ng-template>

</p-card>

  </div>

</div>



      <router-outlet></router-outlet>



      <!-- ADICIOANR OPÇÕES SELECIONAVES


      <mat-label>Senha</mat-label>
      <mat-select formControlName="senha">
        <mat-option value="null"></mat-option>
        <mat-option value="Front-end">Front-end</mat-option>
        <mat-option value="Back-end">Backe-end</mat-option>
      </mat-select>
      -->
