<app-header></app-header>

<mat-card class="tabelaCadastro">

  <mat-card-content>
  <form [formGroup]="form">

    <p-fieldset legend="DADOS PESSOAIS">

      <mat-form-field class="full-width">

        <input matInput placeholder="NOME COMPLETO" formControlName="nome_completo">

      </mat-form-field>


      &nbsp;

      <mat-form-field class="full-width">

        <input matInput pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="CPF" formControlName="cpf">

      </mat-form-field>

      &nbsp;

      <mat-form-field class="full-width">

        <input matInput placeholder="E-MAIL" formControlName="email">

      </mat-form-field>

      &nbsp;

      <mat-form-field class="full-width">

        <input matInput placeholder="TELEFONE" formControlName="telefone">

      </mat-form-field>


  </p-fieldset>

  <br>

  <p-fieldset legend="DADOS LOGIN">

    <mat-form-field class="full-width">

      <input matInput placeholder="NOME LOGIN" formControlName="login">

    </mat-form-field>

    &nbsp;

    <mat-form-field class="full-width">

      <input matInput minlength="4" maxlength="8" type="password" placeholder="SENHA" formControlName="senha">

    </mat-form-field>

  </p-fieldset>

  <br>

  </form>

</mat-card-content>

<mat-card-actions>

  <button [disabled]="!form.valid"  mat-raised-button color="primary" type="submit" (click)="onSubmit()">Salvar</button> &nbsp;

  <button  mat-raised-button (click)="onCancel()">Cancelar</button>

</mat-card-actions>
</mat-card>




      <!-- ADICIOANR OPÇÕES SELECIONAVES


      <mat-label>Senha</mat-label>
      <mat-select formControlName="senha">
        <mat-option value="null"></mat-option>
        <mat-option value="Front-end">Front-end</mat-option>
        <mat-option value="Back-end">Backe-end</mat-option>
      </mat-select>
      -->

      <router-outlet></router-outlet>
