.tabelaCadastro{


  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  max-width: 100%;
  display: contents;
  //justify-content: center;
  position: relative;
  //height: 100vh;
  // Isso centralizará verticalmente o conteúdo também, se desejar
  //max-width: 80%;
  margin: 2em;
  text-align: center;
}

.full-width{
  width: 50%;

}

.min-width{
  width: 100%;
  min-width: 150px;
}




