<p-card header="ALTERAR SENHA">

  <form [formGroup]="form">

    <span class="p-float-label">
      <input class="full-width"  minlength="4" maxlength="8" matInput type="password"  pInputText id="username" formControlName="senhaAtual"/>
      <label for="username">Senha atual</label>
    </span>
    <br>
    <span class="p-float-label">
      <input class="full-width"  minlength="4" maxlength="8" matInput type="password"  pInputText id="username" formControlName="novaSenha"/>
      <label for="username">Nova senha</label>
    </span>

    <br>
    <span class="p-float-label">
      <input class="full-width"  minlength="4" maxlength="8" matInput type="password"  pInputText id="username" formControlName="confirmarSenha"/>
      <label for="username">Confimar senha</label>
    </span>

  </form>
  <br>

<mat-card-actions>

  <button [disabled]="!form.valid"  mat-raised-button color="primary" type="submit" (click)="onSubmit()" >Atualizar</button> &nbsp;

  <button  mat-raised-button (click)="onCancel()">Cancelar</button>

</mat-card-actions>

</p-card>





