.poup {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Ajuste conforme necessário */
  height: 20vh;
  background-color: white; /* Cor de fundo do pop-up */
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
  padding: 20px;
  text-align: center;
}

