
<div class="card">

  <p-tabMenu [model]="items"></p-tabMenu>

</div>


<div>
  <router-outlet></router-outlet>
</div>

<h1> PARA FAZER</h1>

<h2>A fazer (2):</h2>

<p>Crud usuário (Cadastrar novo, alterar existente (Apenas login), excluir, inativar/ativar)</p>
<p>Utilizar novos popUps (https://primeng.org/toast)</p>
<p>Permitir trocar senha (Deve pedir senha atual, nova senha e confirmação de nova senha)</p>

<p>Carregamento de tela até reposta do backend</p>

<p>Botão de logout</p>

<p>Tratamento de rotas para usuário logado no frontend</p>




<h1>A fazer (3):</h1>


<p>Envio de senha por email.</p>


<footer class="footer">

  <mat-toolbar color="primary">
    <span></span>
  </mat-toolbar>

</footer>
