.footer{
  position: fixed; /* Define a posição fixa para o rodapé */
  bottom: 0; /* Coloca o rodapé na parte inferior da página */

  width: 100%; /* Largura total do rodapé */

}

.logout{

  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;

}
