<app-header></app-header>



<router-outlet></router-outlet>



                <h1> PARA FAZER</h1>

                <h2>A fazer (2):</h2>

                <p><span style="color: blue;">Crud usuário (Cadastrar novo,</span> alterar existente (Apenas login), excluir, inativar/ativar)</p>
                <p>Utilizar novos popUps (https://primeng.org/toast)</p>
                <p>Permitir trocar senha (Deve pedir senha atual, nova senha e confirmação de nova senha)</p>

                <p>Carregamento de tela até reposta do backend</p>

                <p style="color: blue;">Botão de logout</p>

                <p style="color: blue;">Tratamento de rotas para usuário logado no frontend</p>




                <h1>A fazer (3):</h1>


                <p>Envio de senha por email. <span style="color: blue;">MODIFICAÇÃO   NO LIQUIBASE PRONTO</span></p>

