.footer{
  position: fixed; /* Define a posição fixa para o rodapé */
  bottom: 0; /* Coloca o rodapé na parte inferior da página */

  width: 100%; /* Largura total do rodapé */

}

.logout{

  width: 100%;

}

