<mat-toolbar color="primary">
    PROJETO PADAWAN
</mat-toolbar>



<!--
<p-card header="" [style]="{ width: '30%'}">
  <ng-template pTemplate="header">
    <h1> projeto padawan</h1>
  </ng-template>

    <mat-form-field class="full-width">

      <input matInput placeholder="Codigo" type="text" formControlName="codigo">

    </mat-form-field>

    <mat-form-field class="full-width">

      <input matInput placeholder="Nova Senha" type="password" formControlName="novaSenha">

    </mat-form-field>

  <ng-template pTemplate="footer">
    <p-button label="Save" icon="pi pi-check"></p-button>
    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
  </ng-template>
</p-card>

-->

<div class="conteudo-login">

  <form class="conteudo-form" [formGroup]="formLogin">

      <div *ngIf="!visibleRecuperarSenha; else esqueciSenhaTemplate">


      <div class="Logo">

        PADAWAN_API
      </div>

          <div>
              <input class="input-login" type="text" placeholder="LOGIN" formControlName="login" id="login"/>
          </div>

          <!---
          <div class="mensagem-erro"
          *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">

                  CAMPO OBRIGATÓRIO

          </div>
      -->


          <div>
              <input class="input-login" type="password" placeholder="SENHA"  autocomplete="current-password" formControlName="senha" id="senha"/>
          </div>

          <!---
          <div class="mensagem-erro"
          *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">

                  CAMPO OBRIGATÓRIO

          </div>
      -->
          <br>
          <div>
              <button class="input-submit" (click)="onSubmit()">
                  ENTRAR
              </button>
              &nbsp;&nbsp;&nbsp;

              <button (click)="mostrarRecuperarSenha()"  class="input-esqueciSenha">
                ESQUECI MINHA SENHA
            </button>

          </div>

      </div>


    <ng-template  [formGroup]="formRecuperarSenha" #esqueciSenhaTemplate>

      <div class="LogoEsqueciSenha">

        RECUPERAR SENHA
      </div>

      <div>


      <!--<input style="border: none;" readonly formControlName="nome do login">-->



      <p>
        <input class="input-loginEsqueciSenha" type="email" placeholder="INFORME SEU EMAIL" formControlName="email" />
   <!-- <input class="input-loginEsqueciSenha" type="email" placeholder="CONFIRMAR EMAIL" formControlName="confirmarEmail" />-->
      </p>








        <br>
        <div>


          <button [disabled]="!formRecuperarSenha.valid" class="input-submit" (click)="recuperarSenha()">
            Recuperar Senha
          </button>
          &nbsp;&nbsp;&nbsp;

          <button (click)="cancelarRecuperacaoSenha()" class="input-esqueciSenha">
            Cancelar
          </button>
      
        </div>
      </div>
    </ng-template>

  </form>

</div>



<footer class="footer">

  <mat-toolbar color="primary">

  </mat-toolbar>

</footer>

<div>
  <p-toast></p-toast>
  <router-outlet></router-outlet>
</div>
