<p-card header="ADICIONAR USUÁRIO">
  <mat-divider></mat-divider>
  <br>
  <br>
  <form [formGroup]="form">
    <p-fieldset legend="DADOS PESSOAIS">
        <span class="p-float-label">
          <input pInputText id="username" formControlName="nomeCompleto" />
          <label for="username">Nome completo</label>
        </span>
    <br>
    <br>

        <span class="p-float-label">
          <input pInputText id="username" formControlName="email" />
          <label for="username">E-mail</label>
        </span>
        <br>


  <p-fileUpload
    name="file"
    (onSelect)="onSelect($event)"
    accept="image/*"
    chooseLabel="Selecionar arquivo"
    mode="basic">
  </p-fileUpload>


    </p-fieldset>

    <br>
    <br>


      <p-fieldset legend="DADOS LOGIN" >

        <span class="p-float-label">
          <input pInputText id="username" formControlName="nomeLogin" />
          <label for="username">Nome login</label>
      </span>

      <br>
      <br>

      <span class="p-float-label">
        <input pInputText type="password" id="username" formControlName="senha" />
        <label for="username">Senha</label>
      </span>
     </p-fieldset>

  </form>

  <br>
  <br>
<mat-card-actions>

  <button [disabled]="!form.valid" mat-raised-button color="primary" type="submit" (click)="onSubmit()">Salvar</button> &nbsp;

  <button  mat-raised-button (click)="navigateTo('pages/usuario')">Cancelar</button>

</mat-card-actions>
</p-card>









      <!-- ADICIOANR OPÇÕES SELECIONAVES


      <mat-label>Senha</mat-label>
      <mat-select formControlName="senha">
        <mat-option value="null"></mat-option>
        <mat-option value="Front-end">Front-end</mat-option>
        <mat-option value="Back-end">Backe-end</mat-option>
      </mat-select>
      -->

      <router-outlet></router-outlet>
