<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <h1>PADAWAN</h1>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">

      <app-menu></app-menu>

    </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

<app-footer></app-footer>



