
.loading-spinner {

  padding: 5px;
  background: rgb(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;

}
.tabelaCadastro{
  max-width: 80%;
  margin: 2em auto; /* centralize o card com margin auto */
  text-align: center;
  overflow-y: auto; /* Adicione esta linha para rolagem vertical */
}

.card {
  overflow-x: auto; /* Adicione esta linha para rolagem horizontal se necessário */
}



.full-width{
  width: 80%;
}

.min-width{
  min-width: 150px;
}
