<div class="card">
  <p-table [value]="listarUser" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th>Situação</th>
              <!--<th>Quantity</th>-->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-listar>
          <tr>

              <td>{{ listar.login }}</td>
              <td>{{ listar.ativo }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>






<div class="card">
    <p-tabMenu [model]="items"></p-tabMenu>
</div>

<br>

<mat-card>

    <mat-toolbar color="primary">Usuarios Cadastrado</mat-toolbar>
    <div *ngIf="listUsuario$ | async as cursos; else loading">


        <table mat-table [dataSource]="listUsuario$" class="mat-elevation-z8">


            <!-- Nome dos Usuarios -->
            <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef> Login</th>
                <td mat-cell *matCellDef="let element"> {{element.login}} </td>
            </ng-container>

            <!-- Ativo -->
            <ng-container matColumnDef="situacao">
                <th mat-header-cell *matHeaderCellDef> Ativo</th>
                <td mat-cell *matCellDef="let element"> {{element.ativo}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>

                    <p-button icon="pi pi-user" [rounded]="true" severity="info">

                        <mat-icon (click)="onAdd()">add</mat-icon>

                    </p-button>
                </mat-header-cell>

                <mat-cell *matCellDef="let curso">


                    <p-button icon="pi pi-user" [rounded]="true" severity="secondary">

                        <mat-icon (click)="onAdd()">edit</mat-icon>

                    </p-button>


                    <p-button  icon="pi pi-user" [rounded]="true" severity="danger">

                        <mat-icon (click)="onAdd()">delete</mat-icon>

                    </p-button>

                </mat-cell>

            </ng-container>







            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>


    <ng-template #loading>
        <div class="loading-spinner">

            <mat-spinner></mat-spinner>

        </div>

    </ng-template>
</mat-card>


<div>
    <router-outlet></router-outlet>
</div>





















<footer class="footer">

    <mat-toolbar color="primary">
        <span></span>
    </mat-toolbar>

</footer>
