<div class="card">
  <p-tabMenu [model]="items"></p-tabMenu>
</div>



<mat-card class="tabelaCadastro">


    <mat-toolbar color="primary">Usuarios Cadastrado</mat-toolbar>


  <div class="card" *ngIf="listUsuario$ | async as cursos; else loading">
    <p-table
     [value]="listUser"
     [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Situação</th>
                <th>
                    <p-button (click)="onAdd()" label="Adicionar"></p-button>
                </th>
                <!--<th>Quantity</th>-->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listar>
            <tr>

                <td>{{ listar.login }}</td>
                <td>{{ listar.ativo }}</td>
                <td>
                    <p-button icon="pi pi-user" [rounded]="true" severity="secondary">

                        <mat-icon (click)="onEdit()">edit</mat-icon>

                    </p-button> &nbsp;

                    <p-button  icon="pi pi-user" [rounded]="true" severity="danger">

                        <mat-icon (click)="onDelete()">delete</mat-icon>

                    </p-button>
                </td>



            </tr>
        </ng-template>

    </p-table>
</div>


<ng-template #loading>

    <div class="loading-spinner">

        <mat-spinner></mat-spinner>

    </div>

</ng-template>



<div>
    <router-outlet></router-outlet>
</div>





















<footer class="footer">

    <mat-toolbar color="primary">
        <span></span>
    </mat-toolbar>

</footer>
