.editarUsuario{
  //justify-content: center;
  align-items: center;
  //height: 50%;
  width: 50%;
  //max-width: 80%;
  display: contents;
  justify-content: center;
  position: relative;
  //height: 100vh;
  // Isso centralizará verticalmente o conteúdo também, se desejar
  //max-width: 80%;
  //margin: 2em;
  text-align: center;
}


.full-width{
  width: 50%;
  height: 45%;
}

.min-width{
  width: 80%;
  min-width: 100px;
}
