.login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.footer{
  position: fixed; /* Define a posição fixa para o rodapé */
  bottom: 0; /* Coloca o rodapé na parte inferior da página */

  width: 100%; /* Largura total do rodapé */



}

