<mat-toolbar>
  <p>
    PROJETO PADAWAN
  </p>
</mat-toolbar>
<div>

  <p-sidebar class="sidebar" [(visible)]="sidebarVisible">

    <img class="avatar mat-elevation-z8" src="https://images7.alphacoders.com/131/1319607.jpeg"/>
    <h4 class="nome"> Mandaloriano</h4>
    <p class="funcao">Caçador: Como deve ser!</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/pages/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>


    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/pages/home/usuario">
      <mat-icon>person</mat-icon>
      <span>Usuario</span>
  </button>

  <mat-divider></mat-divider>

  <button (click)="showDialogTrocarSenha()" mat-button class="menu-button" >
    <mat-icon>lock</mat-icon>
    <span>Trocar Senha</span>
</button>

<p-dialog header="Trocar Senha" [(visible)]="visible" [style]="{width: '50vw'}" [modal]="true">

      <app-alterSenha-usuario></app-alterSenha-usuario>

</p-dialog>



  <mat-divider></mat-divider>

  <button mat-button class="menu-button" (click)=" efetuarlogoutTsHeader()" >
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
</button>

</p-sidebar>



</div>
<p-button class="menu" (click)="sidebarVisible = true" icon="pi pi-th-large"></p-button>



<footer class="footer">

  <mat-toolbar color="primary">
    <span></span>
  </mat-toolbar>

</footer>

<router-outlet></router-outlet>


