<mat-card class="editarUsuario">

  <mat-card-header>

  <mat-toolbar color="primary">Editar Usuário</mat-toolbar>

  </mat-card-header>
  <mat-card-content>
  <form [formGroup]="form" >

    <br>


    <mat-form-field class="full-width">

      <input minlength="4" maxlength="8" matInput  placeholder="Novo Login" formControlName="novoLogin">

    </mat-form-field>

  </form>

</mat-card-content>




  <form>


    <p-radioButton  name="situacao" [value]="ativoLabel" [(ngModel)]="situacao" ></p-radioButton>
    <label for="true" class="ml-2">Ativo</label>


    &nbsp;

    <p-radioButton name="situacao" [value]="inativoLabel" [(ngModel)]="situacao" ></p-radioButton>
    <label for="false" class="ml-2">Inativo</label>



  </form>





<mat-card-actions>

  <button [disabled]="!form.valid"  mat-raised-button color="primary" type="submit" (click)="onSubmit()">Atualizar</button> &nbsp;

  <button  mat-raised-button (click)="onCancel()">Cancelar</button>

</mat-card-actions>





      <!-- ADICIOANR OPÇÕES SELECIONAVES


      <mat-label>Senha</mat-label>
      <mat-select formControlName="senha">
        <mat-option value="null"></mat-option>
        <mat-option value="Front-end">Front-end</mat-option>
        <mat-option value="Back-end">Backe-end</mat-option>
      </mat-select>
      -->

      <router-outlet></router-outlet>
